@import './theme';

.navbar, .footer{
    background-color: $primaryColor;
    color: $fontColorLight;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    font-weight: 400;
}